export(stclearcache)
export(stfind)
export(stgetdata)
export(stgetmetadata)
importFrom(XML,append.xmlNode)
importFrom(XML,removeChildren)
importFrom(XML,saveXML)
importFrom(XML,xmlAttrs)
importFrom(XML,xmlChildren)
importFrom(XML,xmlElementsByTagName)
importFrom(XML,xmlGetAttr)
importFrom(XML,xmlName)
importFrom(XML,xmlParse)
importFrom(XML,xmlRoot)
importFrom(XML,xmlSApply)
importFrom(XML,xmlToDataFrame)
importFrom(XML,xmlValue)
importFrom(digest,digest)
importFrom(httr,build_url)
importFrom(httr,parse_url)
importFrom(lubridate,ceiling_date)
importFrom(lubridate,day)
importFrom(lubridate,days)
importFrom(lubridate,ymd)
importFrom(plyr,arrange)
importFrom(plyr,rbind.fill)
importMethodsFrom(XML,xmlToDataFrame)
